<div class="logo">
  <img src="../../assets/images/logo.svg" />
</div>
<div class="info">
  <div class="info-name">{{ system.currentName }}</div>
  <div class="info-group">
    <div>{{ system.currentClass }} 時間目</div>
    <div>{{ system.tableNames[system.currentTable] }} グループ</div>
    <div class="info-group-button" (click)="reselectGroup()">グループ選択</div>
  </div>
</div>
<div class="chat">
  <app-chat class="chat-app"></app-chat>
</div>
<div class="local-controller">
  <button [class.active]="localState.audio" (click)="toggleLocalAudio()">Audio</button>
  <button [class.active]="localState.video" (click)="toggleLocalVideo()">Video</button>
  <button [class.active]="localState.screen" (click)="toggleScreenShare()">screen</button>
</div>
<app-video
  [stream]="skyway.getLocalUser()!.stream"
  [local]="true"
  *ngIf="skyway.getLocalUser()"
  class="video"
></app-video>
