<div class="left">
  <h3>Youtube</h3>
  <div class="select-container">
    <button (click)="updateYtliveStatus('full')" class="selectButton" [class.selected]="ytlive === 'full'">
      全画面表示
    </button>
    <button (click)="updateYtliveStatus('wipe')" class="selectButton" [class.selected]="ytlive === 'wipe'">
      ワイプ表示
    </button>
    <button (click)="updateYtliveStatus('none')" class="selectButton" [class.selected]="ytlive === 'none'">OFF</button>
  </div>
  <div class="container">
    <div>ビデオID</div>
    <input type="text" [value]="ytid" class="flexible-item" /><button (click)="updateYoutubeId()">変更する</button>
  </div>
  <div class="description">
    <span>
      ビデオIDは、URL等に含まれる11文字の記号です。(例: 4zZh_vQXwgQ)<br />
      YouTubeライブによる全体講義や、事前収録した動画の配信に使います。<br />
      <a href="https://www.youtube.com/livestreaming/">YouTubeライブを開始する</a>
    </span>
  </div>
  <h3>グループ名</h3>
  <div class="group-name-container">
    <input
      type="text"
      [(ngModel)]="tableName[i]"
      *ngFor="let name of tableName; let i = index; trackBy: trackByFn"
      [class.highlight]="tableNameFire[i] !== input.value"
      #input
    />
  </div>
  <div>
    <button (click)="updateTableName()" *ngIf="groupNameChanged()" class="flexible-item">更新</button>
  </div>
  <h3>参加中の生徒一覧</h3>
  <button (click)="showMembers()">表示する</button>
</div>
<div class="right">
  生徒画面プレビュー
  <app-group-live [master]="true" class="right-live"></app-group-live>
</div>
<div class="members-wrapper" (click)="hideMembers()" *ngIf="membersVisibility">
  <app-members class="members"></app-members>
  <button (click)="hideMembers()">閉じる</button>
</div>
