<div class="left">
  <h3>グループ名</h3>
  <div class="group-name-container">
    <input
      type="text"
      [(ngModel)]="tableName[i]"
      *ngFor="let name of tableName; let i = index; trackBy: trackByFn"
      [class.highlight]="tableNameFire[i] !== input.value"
      #input
    />
  </div>
  <div>
    <button (click)="updateTableName()" *ngIf="groupNameChanged()" class="flexible-item">更新</button>
  </div>
  <h3>参加中の生徒一覧</h3>
  <button (click)="showMembers()">表示する</button>
  <h3>対象クラス</h3>
  <div class="container">
    <input type="checkbox" [(ngModel)]="target.c1" (change)="changeTarget()" />1限<br />
    <input type="checkbox" [(ngModel)]="target.c2" (change)="changeTarget()" />2限<br />
  </div>
  <div class="description">
    Googleスライド, Youtube, 固定テキストの表示対象 
  </div>
  <h3>全員固定テキスト</h3>
  <div class="container">
    <input type="text" [(ngModel)]="fixedText" class="flexible-item" /><button (click)="updateFixedText()">
      更新する
    </button>
  </div>
  <h3>Googleスライド</h3>
  <div class="select-container">
    <button (click)="updateSlideStatus('full')" class="selectButton" [class.selected]="slide === 'full'">
      全画面
    </button>
    <button (click)="updateSlideStatus('wipe')" class="selectButton" [class.selected]="slide === 'wipe'">
      ワイプ
    </button>
    <button (click)="updateSlideStatus('none')" class="selectButton" [class.selected]="slide === 'none'">OFF</button>
  </div>
  <div class="container">
    <div>スライドID</div>
    <input type="text" [(ngModel)]="slideid" class="flexible-item" /><button (click)="updateSlideId()">取得する</button>
  </div>
  <div class="container">
    <span>{{ slideTitle }}</span>
  </div>
  <div class="container">
    <button (click)="headSlide()">←先頭へ</button>
    <button (click)="backSlide()">←</button>
    {{ slideIndex.value + 1 }} / {{ pageObjectId.length }}
    <button (click)="nextSlide()">→</button>
    <button (click)="tailSlide()">最後へ→</button>
  </div>
  <div class="description">
    スライドIDは、URLに含まれる44字程度の文字列。<br />
    例 3月8日授業資料: 1nNjykLe6ZszFXl_TBo519ipk3VJOhFSxqiqV_pWNyBY<br />
    スライドIDを入力 → 取得 → ページ移動<br />
  </div>
  <h3>Youtube</h3>
  <div class="select-container">
    <button (click)="updateYtliveStatus('full')" class="selectButton" [class.selected]="ytlive === 'full'">
      全画面
    </button>
    <button (click)="updateYtliveStatus('wipe')" class="selectButton" [class.selected]="ytlive === 'wipe'">
      ワイプ
    </button>
    <button (click)="updateYtliveStatus('sound')" class="selectButton" [class.selected]="ytlive === 'sound'">
      音のみ
    </button>
    <button (click)="updateYtliveStatus('none')" class="selectButton" [class.selected]="ytlive === 'none'">OFF</button>
  </div>
  <div class="container">
    <div>ビデオID</div>
    <input type="text" [(ngModel)]="ytid" class="flexible-item" /><button (click)="updateYoutubeId()">変更する</button>
  </div>
  <div class="description">
    <span>
      ビデオIDは、URL等に含まれる11文字の記号です。(例: 4zZh_vQXwgQ)<br />
      YouTubeライブによる全体講義や、事前収録した動画の配信に使います。<br />
      <a href="https://www.youtube.com/livestreaming/">YouTubeライブを開始する</a>
    </span>
  </div>
</div>
<div class="right">
  生徒画面プレビュー
  <app-group-live [master]="true" class="right-live"></app-group-live>
</div>
<div class="members-wrapper" (click)="hideMembers()" *ngIf="membersVisibility">
  <app-members class="members"></app-members>
  <button (click)="hideMembers()">閉じる</button>
</div>
