<app-sidebar class="sidebar" [class.opened]="sidebarOpened"></app-sidebar>
<div class="sidebar-menu" (click)="toggleSidebar()" [class.opened]="sidebarOpened">SIDE</div>
<div class="main">
  <div class="main-video-container">
    <app-video
      [stream]="users[focusIndex].stream"
      [focused]="true"
      class="main-video"
      *ngIf="users.length !== 0"
    ></app-video>
  </div>
  <div class="bottom-video-list">
    <div
      *ngFor="let user of users; let i = index"
      class="bottom-video-container"
      (click)="setFocus(i)"
      [class.active]="i === focusIndex"
    >
      <app-video [stream]="user.stream" class="bottom-video"></app-video>
      <div class="bottom-label">{{ skyway.peerUserList[user.id] }}</div>
    </div>
  </div>
</div>
