<app-sidebar *ngIf="!master" class="sidebar" [class.opened]="sidebarOpened"></app-sidebar>
<div *ngIf="!master" class="sidebar-menu" (click)="toggleSidebar()" [class.opened]="sidebarOpened">SIDE</div>
<div class="main">
  <div class="main-video-container" [class.disaster]="fixedText !== ''">
    <div class="fixedText" *ngIf="fixedText !== ''">{{ fixedText }}</div>
    <app-video
      *ngIf="
        users.length !== 0 &&
        ((displayStyle.ytlive !== 'full' && displayStyle.slide !== 'full') || !target['c' + system.currentClass])
      "
      [stream]="users[focusIndex].stream"
      [focused]="true"
      class="main-video"
    ></app-video>
    <app-ytlive
      class="ytlive"
      *ngIf="displayStyle.ytlive !== 'none' && videoid !== null && (target['c' + system.currentClass] || master)"
      [class.full]="displayStyle.ytlive === 'full'"
      [class.wipe]="displayStyle.ytlive === 'wipe'"
      [class.sound]="displayStyle.ytlive === 'sound'"
      [videoid]="videoid"
    ></app-ytlive>
    <app-slide
      class="slide"
      *ngIf="displayStyle.slide !== 'none' && (target['c' + system.currentClass] || master)"
      [class.full]="displayStyle.slide === 'full'"
      [class.wipe]="displayStyle.slide === 'wipe'"
    ></app-slide>
  </div>
  <div *ngIf="!master" class="bottom-video-list">
    <div
      *ngFor="let user of users; let i = index"
      class="bottom-video-container"
      (click)="setFocus(i)"
      [class.active]="i === focusIndex"
    >
      <app-video [stream]="user.stream" [label]="skyway.peerUserList[user.id]" class="bottom-video"></app-video>
    </div>
  </div>
</div>
