<div class="container">
  <h3>映像</h3>
  <select [(ngModel)]="skywayService.videoDevice">
    <option *ngFor="let device of videoDevices" [value]="device.deviceId">{{ device.label }}</option>
  </select>
  <h3>音声</h3>
  <select [(ngModel)]="skywayService.audioDevice">
    <option *ngFor="let device of audioDevices" [value]="device.deviceId">{{ device.label }}</option>
  </select>
  <h3>通知</h3>
  <label><input type="checkbox" [(ngModel)]="systemService.allowNotification"></label>
  <div>
    <button (click)="closeConfig()">更新して閉じる</button>
  </div>
</div>
