/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #101020, #202040);
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: #eee;
}
